<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search App</title>
</head>
<body>
   <h1>Movies</h1>
   <form action="/result" method="GET">
    <label>Enter Movie Name</label>
    <br>
    <input type ="text" name = "movieName" placeholder="movieName" required>
    <button>Submit</button>
   </form>
</body>
</html>